<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>

<body>
  <div id="app">
    <!-- <h2 v-if="isShow">
      <div>abc</div>
      <div>abc</div>
      <div>abc</div>
      <div>abc</div>
      <div>abc</div>
      {{message}}</h2>
    <h1 v-else=>isShow为false时显示我</h1> -->
    <h2 v-if="score>=90">优秀</h2>
    <h2 v-else-if="score>=75">良好</h2>
    <h2 v-else-if="score>=60">及格</h2>
    <h2 v-else>不及格</h2>

    <h1>{{result}}</h1>
  </div>

  <script>
    const app = new Vue({
      el: '#app',
      data: {
        // message:hell0,
        // isShow:true,
        score:98
      },
      computed:{
        result(){
        let showMessage="";
        if (this.score>=90){
          showMessage="优秀"
        }else if (this.score>=80){
          showMessage='良好'
        }
        // ..
        return showMessage
      }
      },
      methods: {}
    });
  </script>
</body>

</html>