<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <label for="male">
        <input type="radio" id="male" value="nan" v-model="sex">男
    </label>
<!--    name一样时只能选择一个，否则可以同时选择;但使用v-model也可以使两个单选项互斥-->
    <label for="female">
        <input type="radio" id="female" value="nv" v-model="sex">女
    </label>
    <h2>{{sex}}</h2>
</div>

<script src="../js/vue.js"></script>
<script>
    const app = new Vue({
        el:'#app',
        data:{
            message: 'hello',
            sex: 'nan'
        },
        methods:{}
    })
</script>
</body>
</html>